

<h1>App Component degisiklik  {{ helloWorld }} </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae velit excepturi, quod a fugiat ipsam voluptatem 
  suscipit iure fuga minima, voluptatum enim dicta nobis maxime perferendis, pariatur alias. Quia, magnam?</p>

  <app-home style="color: blueviolet;"></app-home>

  <app-about style="color: chartreuse;"></app-about>

  <app-contact style=" color: darkorange;"></app-contact>

  <p [class]="pClassName" >Lorem ipsum dolor sit amet.</p>

  <button (click)="clickMe()" >Beni Tikla </button>

  <input type="text" [(ngModel)]="helloWorld" >

  <textarea [(ngModel)]="helloWorld" ></textarea>